p{
    margin:0;
    text-align: left;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.innerCard{
    width:150px;
    margin:auto;
}
.innerCard:hover{
    background-color: gainsboro;
}


.cardBtn{
    width: 80px;
    margin: 0;
    padding: auto;
    vertical-align: middle;
}


.cardBtn:hover{
    background-color: gainsboro;
}
