p{
    margin:0;
    text-align: left;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    
}

.card:hover{
    background-color: brown;
}

.innerCard{
    width:250px;
    margin:auto;
}